 <!-- job_portal/templates/job_post.html -->
{% extends 'base.html' %}
{% comment %}
{% block content %}
  <h2>Post a Job</h2>
  <form method="post" action="{% url 'job_post' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Post Job</button>
  </form>
{% endblock %} {% endcomment %}


{% block content %}
  <div class="container mt-4">
    <h2>Post a Job</h2>
    <form method="post" action="{% url 'job_post' %}">
      {% csrf_token %}

      <!-- First Column -->
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title }}
          </div>
          <div class="mb-3">
            {{ form.openings.label_tag }}
            {{ form.openings }}
          </div>
          <!-- Add more fields as needed -->
          <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
          </div>
        </div>

        <!-- Second Column -->
        <div class="col-md-6">
          <div class="mb-3">
            {{ form.category.label_tag }}
            {{ form.category }}
          </div>
          <div class="mb-3">
            {{ form.skill_set.label_tag }}
            {{ form.skill_set }}
          </div>
          <!-- Add more fields as needed -->
        </div>
      </div>



      <button type="submit" class="btn btn-primary">Post Job</button>
    </form>
  </div>
{% endblock %}
