{% extends 'base.html' %}

 {% block content %} 
 <div class="d-flex justify-content-center align-items-center" style="background-color: #edede9; width: 100vw; height: 100vh; margin-top: -75px;">
  <div class="container">
    <div class="row">
      <div class="card shadow-lg p-5 col-md-6 mx-auto">
        <h2 class="mb-5 text-center">Login to your account</h2>
        {% if messages %}
          <div class="alert alert-danger" role="alert">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
        <form class="pb-3" method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {% comment %} {{ form.as_p }} {% endcomment %}
          <div class="mb-4">
            <div class="input-group">
              <span class="input-group-text"><i class="ri-user-3-line"></i></span>
              <input type="text" class="form-control form-control-lg" name="username" id="username" placeholder="username">
            </div>
          </div>
          <div class="mb-4">
            <div class="input-group">
              <span class="input-group-text">
                <i class="ri-key-line"></i>
              </span>
              <input type="password" name="password" class="form-control form-control-lg" id="password" placeholder="password">
              <span type="button" class="input-group-text" id="togglePassword">
                <i class="ri-eye-line"></i>
              </span>
            </div>
          </div>
          <div class="d-grid col-6 mx-auto">
            <button type="submit" class="btn btn-lg btn-primary"><i class="ri-login-box-line"></i> Login</button>
          </div>
          <div class="text-center mt-2">
            <span>New user?</span>
            <span><a class='text-decoration-none ms-2' href="{% url "register" %}">Create an account</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const passwordInput = document.getElementById('password');
      const togglePasswordButton = document.getElementById('togglePassword');

      togglePasswordButton.addEventListener('click', function () {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);

        const iconClass = type === 'password' ? 'ri-eye-line' : 'ri-eye-close-line';
        togglePasswordButton.innerHTML = `<i class="${iconClass}"></i>`;
      });
    });
  </script>
{% endblock %}

